header{
	height: 100px;
	background-color: red;
}
nav{
	height: 100%;
}

.logo{
	height: 100%;
}

.infoEstudiante{
	background-color: #252525;	
	height: 100%;
}
body{
	background-color: #1CD5A8;
}
#nav-mobile{
	margin-top: 1.5%;
}

#contenedorInformacionEstudiante{
	height:500px;
}
#bloques{
	height: 2000px;
}
.contenedor {
	height: 80%;
	background-color: #F2F2F2;
	margin-left: 11%;
	margin-top: 2.5%;
	border-radius: 5px;
}
#contenedorComentariosEstudiante{
	height:500px;
	background-color: #2B725A;
}
